<h1 class="text-center">
  <%= 1 + 2 %> members
</h1>

<% members = %w(Anne François Yves) %>
<div class="container text-center">
  <ul class="list-inline">
  <% members.each do |member| %>
    <li>
      <img src="http://placehold.it/80x80" alt="img-circle">
      <h3><%= member %></h3>
    </li>
  <% end %>
  </ul>
</div>
