<div class="container text-center">
  <ul class="list-inline">
    <% data.flats.each do |owne, flat| %>
      <li>
        <img class="image-avatar-big" src="<%= image_path flat.owner_picture %>" alt="">
        <h2><%= flat.owner_name %></h2>
      </li>
    <% end %>
  </ul>
</div>
